!!!
%html{:lang => 'en', :dir => 'ltr'}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Sinatra Bootstrap
    %link{:href => '/stylesheets/normalize.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href => '/stylesheets/styles.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:src => "/javascripts/vendor/custom.modernizr.js"}
  %body
    = yield
    %script document.write('<script src=/javascripts/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>');
    %script{:src => "javascripts/foundation/foundation.js"}
    %script{:src => "javascripts/foundation/foundation.alerts.js"}
    %script{:src => "javascripts/foundation/foundation.clearing.js"}
    %script{:src => "javascripts/foundation/foundation.cookie.js"}
    %script{:src => "javascripts/foundation/foundation.dropdown.js"}
    %script{:src => "javascripts/foundation/foundation.forms.js"}
    %script{:src => "javascripts/foundation/foundation.joyride.js"}
    %script{:src => "javascripts/foundation/foundation.magellan.js"}
    %script{:src => "javascripts/foundation/foundation.orbit.js"}
    %script{:src => "javascripts/foundation/foundation.placeholder.js"}
    %script{:src => "javascripts/foundation/foundation.reveal.js"}
    %script{:src => "javascripts/foundation/foundation.section.js"}
    %script{:src => "javascripts/foundation/foundation.tooltips.js"}
    %script{:src => "javascripts/foundation/foundation.topbar.js"}
    %script $(document).foundation();
